openapi: 3.0.3
info:
  title: Wrike Access Roles Accounts API
  description: The Wrike REST API v4 enables developers to build integrations and automations for Wrike, a collaborative work management platform used by 20,000+ organizations. The API provides access to tasks, folders, projects, contacts, workflows, time tracking, webhooks, and more. Authentication uses OAuth 2.0 or permanent access tokens. Additional platforms include a DataHub Public API for analytics, BI Export, Cloud Content Connector, and an MCP Server for AI assistant integration.
  version: '4.0'
  termsOfService: https://www.wrike.com/developer-terms/
  contact:
    name: Wrike Developer Support
    url: https://developers.wrike.com
  license:
    name: Wrike API Terms
    url: https://www.wrike.com/developer-terms/
servers:
- url: https://www.wrike.com/api/v4
  description: Wrike REST API v4
security:
- oauth2: []
- bearerToken: []
tags:
- name: Accounts
  description: Account settings and configuration
paths:
  /accounts:
    get:
      operationId: listAccounts
      summary: List Accounts
      description: Returns all accounts accessible to the current user.
      tags:
      - Accounts
      parameters:
      - name: metadata
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/{accountId}:
    put:
      operationId: updateAccount
      summary: Update Account
      description: Updates account settings.
      tags:
      - Accounts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                metadata:
                  type: string
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    AccountListResponse:
      type: object
      properties:
        kind:
          type: string
          example: accounts
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Metadata:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Error:
      type: object
      required:
      - error
      - errorDescription
      properties:
        error:
          type: string
          description: Error code
          example: not_authorized
        errorDescription:
          type: string
          description: Human-readable error description
          example: The access token is invalid
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        dateFormat:
          type: string
        firstDayOfWeek:
          type: string
        workDays:
          type: array
          items:
            type: string
        rootFolderId:
          type: string
        recycleBinId:
          type: string
        createdDate:
          type: string
          format: date-time
        subscription:
          type: object
          properties:
            type:
              type: string
            suspended:
              type: boolean
            paid:
              type: boolean
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.wrike.com/oauth2/authorize
          tokenUrl: https://www.wrike.com/oauth2/token
          scopes:
            Default: Default access scope
            amReadOnlyWorkflow: Read-only access to workflows
            amReadWriteWorkflow: Read-write access to workflows
            wsReadOnly: Read-only workspace access
            wsReadWrite: Read-write workspace access
            amReadOnlyAccessRole: Read-only access to access roles
    bearerToken:
      type: http
      scheme: bearer
      description: Permanent access token (legacy authentication)
externalDocs:
  description: Wrike Developer Documentation
  url: https://developers.wrike.com
