openapi: 3.0.3
info:
  title: Wrike Access Roles Users API
  description: The Wrike REST API v4 enables developers to build integrations and automations for Wrike, a collaborative work management platform used by 20,000+ organizations. The API provides access to tasks, folders, projects, contacts, workflows, time tracking, webhooks, and more. Authentication uses OAuth 2.0 or permanent access tokens. Additional platforms include a DataHub Public API for analytics, BI Export, Cloud Content Connector, and an MCP Server for AI assistant integration.
  version: '4.0'
  termsOfService: https://www.wrike.com/developer-terms/
  contact:
    name: Wrike Developer Support
    url: https://developers.wrike.com
  license:
    name: Wrike API Terms
    url: https://www.wrike.com/developer-terms/
servers:
- url: https://www.wrike.com/api/v4
  description: Wrike REST API v4
security:
- oauth2: []
- bearerToken: []
tags:
- name: Users
  description: User management and profile operations
paths:
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get User
      description: Returns information about a specific user.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: The user ID
        schema:
          type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateUser
      summary: Update User
      description: Updates user profile information.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: The user ID
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - User
                  - Collaborator
                  description: User role in the account
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        type:
          type: string
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
        avatarUrl:
          type: string
          format: uri
        timezone:
          type: string
        locale:
          type: string
        deleted:
          type: boolean
        me:
          type: boolean
    Profile:
      type: object
      properties:
        accountId:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - User
          - Collaborator
        external:
          type: boolean
        admin:
          type: boolean
        owner:
          type: boolean
    Error:
      type: object
      required:
      - error
      - errorDescription
      properties:
        error:
          type: string
          description: Error code
          example: not_authorized
        errorDescription:
          type: string
          description: Human-readable error description
          example: The access token is invalid
    UserResponse:
      type: object
      properties:
        kind:
          type: string
          example: users
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.wrike.com/oauth2/authorize
          tokenUrl: https://www.wrike.com/oauth2/token
          scopes:
            Default: Default access scope
            amReadOnlyWorkflow: Read-only access to workflows
            amReadWriteWorkflow: Read-write access to workflows
            wsReadOnly: Read-only workspace access
            wsReadWrite: Read-write workspace access
            amReadOnlyAccessRole: Read-only access to access roles
    bearerToken:
      type: http
      scheme: bearer
      description: Permanent access token (legacy authentication)
externalDocs:
  description: Wrike Developer Documentation
  url: https://developers.wrike.com
