openapi: 3.0.3
info:
  title: Wrike Access Roles Comments API
  description: The Wrike REST API v4 enables developers to build integrations and automations for Wrike, a collaborative work management platform used by 20,000+ organizations. The API provides access to tasks, folders, projects, contacts, workflows, time tracking, webhooks, and more. Authentication uses OAuth 2.0 or permanent access tokens. Additional platforms include a DataHub Public API for analytics, BI Export, Cloud Content Connector, and an MCP Server for AI assistant integration.
  version: '4.0'
  termsOfService: https://www.wrike.com/developer-terms/
  contact:
    name: Wrike Developer Support
    url: https://developers.wrike.com
  license:
    name: Wrike API Terms
    url: https://www.wrike.com/developer-terms/
servers:
- url: https://www.wrike.com/api/v4
  description: Wrike REST API v4
security:
- oauth2: []
- bearerToken: []
tags:
- name: Comments
  description: Task and folder comment management
paths:
  /comments:
    get:
      operationId: listComments
      summary: List Comments
      description: Returns all comments in all accessible accounts.
      tags:
      - Comments
      parameters:
      - name: createdDate
        in: query
        required: false
        schema:
          type: string
      - name: plainText
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List of comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tasks/{taskId}/comments:
    get:
      operationId: listTaskComments
      summary: List Task Comments
      description: Returns all comments on a specific task.
      tags:
      - Comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      - name: plainText
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List of task comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTaskComment
      summary: Create Task Comment
      description: Adds a comment to a task.
      tags:
      - Comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
                  description: Comment text (supports HTML)
                plainText:
                  type: boolean
                  description: Create comment in plain text (no HTML)
      responses:
        '200':
          description: Created comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /comments/{commentId}:
    put:
      operationId: updateComment
      summary: Update Comment
      description: Updates an existing comment.
      tags:
      - Comments
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
                plainText:
                  type: boolean
      responses:
        '200':
          description: Updated comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteComment
      summary: Delete Comment
      description: Deletes a comment.
      tags:
      - Comments
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      required:
      - error
      - errorDescription
      properties:
        error:
          type: string
          description: Error code
          example: not_authorized
        errorDescription:
          type: string
          description: Human-readable error description
          example: The access token is invalid
    CommentListResponse:
      type: object
      properties:
        kind:
          type: string
          example: comments
        data:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
    Comment:
      type: object
      properties:
        id:
          type: string
        authorId:
          type: string
        text:
          type: string
        updatedDate:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
        taskId:
          type: string
        folderId:
          type: string
  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.wrike.com/oauth2/authorize
          tokenUrl: https://www.wrike.com/oauth2/token
          scopes:
            Default: Default access scope
            amReadOnlyWorkflow: Read-only access to workflows
            amReadWriteWorkflow: Read-write access to workflows
            wsReadOnly: Read-only workspace access
            wsReadWrite: Read-write workspace access
            amReadOnlyAccessRole: Read-only access to access roles
    bearerToken:
      type: http
      scheme: bearer
      description: Permanent access token (legacy authentication)
externalDocs:
  description: Wrike Developer Documentation
  url: https://developers.wrike.com
